.k-problem-text {
    margin: 10px 0;
}

.k-problem-text strong i.icon.green {
    color: #2BB148;
}

.k-step .k-code-out {
    border-radius: 0 0 5px 5px;
    border-top: none;
}

.k-step .toolbar, .k-step .errorBar, .k-step .successBar, .k-step .outputBar {
    border-radius: 0;
    margin-bottom: 0;
    background-color: #0074BE;
    border: none;
    color: #fff;
    overflow: hidden;
}

/*.k-step .toolbar strong {*/
/*color: #fff;*/
/*}*/

.k-step .errorBar {
    background-color: #EE3734;
}

.k-step .successBar {
    background-color: #2BB148;
    font-weight: bold;
}

.k-step .helpBar {
    background-color: #F1641E;
    color: #333;
    font-weight: bold;
    vertical-align: middle;
}

.k-step .successBar a {
    color: #f5ce13

}

.k-step .successBar.collapsed {
    background-color: #ececec;
    color: #333;
}

.k-step .successBar.collapsed a {
    color: #0074BE

}

.k-step .outputBar {
    background-color: #000;
    color: lime;
    font-family: monospace, sans-serif;

}

.k-step .media-heading .icon {
    font-size: 1.5em;
    vertical-align: middle;
    margin-right: 5px;
}

.k-step .media-heading .icon.ads {
    color: #E62117;
}

.k-step .media-heading .icon.code {
    color: #2BB148;
    vertical-align: middle;
    font-size: 2em;
}

.scoreboard-icon {
    font-size: 5.8em;
    color: orange;
    position: absolute;
    top: -11px;
    left: 12px;
}

.score-captions {
    font-size: 1.5em;
}

@media ( max-width: 585px ) {
    .score-captions {
        font-size: 100%;
    }

    .scoreboard-icon {
        font-size: 5em;
    }

}

/** notifications **/
.notify {
    display: block;
    background: #fff;
    padding: 12px 18px;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
}

.notify h1 {
    margin-bottom: 6px;
}

.successbox h1 {
    color: #678361;
}

.errorbox h1 {
    color: #6f423b;
}

.successbox h1:before, .successbox h1:after {
    background: #cad8a9;
}

.errorbox h1:before, .errorbox h1:after {
    background: #d6b8b7;
}

.notify .alerticon {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.notify h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    line-height: 1.5em;
    letter-spacing: -0.05em;
    margin-bottom: 20px;
    padding: .1em 0;
    color: #444;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.notify h1:before {
    left: -.5em;
    margin: 0 0 0 -50%;
}

.notify h1:before, .notify h1:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 1px;
    vertical-align: middle;
    background: #f0f0f0;
}

.notify h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    line-height: 1.5em;
    letter-spacing: -0.05em;
    margin-bottom: 20px;
    padding: .1em 0;
    color: #444;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.notify h1:before,
.notify h1:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 1px;
    vertical-align: middle;
    background: #f0f0f0;
}

.notify h1:before {
    left: -.5em;
    margin: 0 0 0 -50%;
}

.notify h1:after {
    left: .5em;
    margin: 0 -50% 0 0;
}

.notify h1 > span {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}

.k-step .task-head ul.list-inline li {

}

.k-step .code-summary .next-step {
    margin-top: 10px;
}

.k-step .code-summary > p:first-child {
    margin-bottom: 0;
}

.k-step .task-problem {
    overflow: hidden;
    font-size: 1.2em;
    border-left: 10px solid #2BB148;
    padding: 10px 10px;
    background-color: #f9f9f9;
    border-right: 10px solid #eaeaea;
    margin: 10px 0;
}

.k-step .task-intro {
    overflow: hidden;
    font-size: 1.2em;
    border-left: 10px solid #0074BE;
    padding: 10px 10px;
    background-color: #f9f9f9;
    border-right: 10px solid #eaeaea;
    margin: 10px 0;
}

.k-step .k-problem-intro{

}

/*.modal {*/
  /*position: absolute;*/
  /*float: left;*/
  /*left: 50%;*/
  /*top: 50%;*/
  /*transform: translate(-50%, -50%);*/
    /*/!*bottom: auto; !important;*!/*/
/*}*/