.k-green{
    color: #2BB148;
}
.k-blue{
    color: #0074BE
}
.k-red{
    color: #EE3734;
}
.k-orange{
    color: #F1641E;
}
.k-yellow{
    color: #f5ce13
}

.k-bg-green{
    background-color: #2BB148;
}
.k-bg-blue{
    background-color: #0074BE
}
.k-bg-red{
    background-color: #EE3734;
}
.k-bg-orange{
    background-color: #F1641E;
}
.k-bg-yellow{
    background-color: #f5ce13
}
