<div>
    <div style="
    max-width: 800px;
    width: 100%;
    margin: 50px auto;
    background: #208aff;
            ">
        <div style="
    padding: 30px;
    color: #fff;
    font-size: 3em;
            "><span style="
    color: #f5ce13;
">✔</span> Did It Assistant
        </div>
        <div style="
    background-color: #f5ce13;
    padding: 30px;
    font-size: 1.5em;
    line-height: 1.5em;
"><p style="
    margin: 0;
">Welcome and more little tiny step! Please verify your email by clicking <a
                href="{0}auth/verify/{1}/{2}" target="_blank">here</a>.
            Thanks using our application, and we hope we can save some times for you, then you use it to drink and read
            things!</p>
        </div>
    </div>
</div>