{% extends "/layouts/layoutCenter.html" %}

{% block style_top %}
<!--<link rel="stylesheet" href="{{ url_for('auth.static', filename='css/auth.css') }}">-->
{% assets "css_auth" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}"/>
{% endassets %}
{% endblock  %}

{% block navbar %}
{% endblock navbar %}

{% block header %}
{% endblock header%}

{% block content %}
<div ng-view></div>
{% endblock content %}

{% block footer %}
{% endblock footer%}


{% block script_bottom %}
    <!--<script src="{{ url_for('auth.static', filename ='js/auth.app.js') }}"></script>-->
    {% assets "js_app_auth" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock script_bottom %}
