<div class="col-md-3">
            <div class="panel panel-default panel-profile m-b-md">
                <div class="panel-heading" style="background-image: url(/statics/img/iceland.jpg);"></div>
                <div class="panel-body text-center">
                    <a href="profile/index.html">
                        <img
                                class="panel-profile-img"
                                src="/statics/img/avatar-dhg.png">
                    </a>

                    <h5 class="panel-title">
                        <a class="text-inherit" href="profile/index.html">Dave Gamache</a>
                    </h5>

                    <p class="m-b-md">I wish i was a little bit taller, wish i was a baller, wish i had a
                        girl… also.</p>

                    <ul class="panel-menu">
                        <li class="panel-menu-item">
                            <a href="#userModal" class="text-inherit" data-toggle="modal">
                                Friends
                                <h5 class="m-y-0">12M</h5>
                            </a>
                        </li>

                        <li class="panel-menu-item">
                            <a href="#userModal" class="text-inherit" data-toggle="modal">
                                Enemies
                                <h5 class="m-y-0">1</h5>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-default visible-md-block visible-lg-block">
                <div class="panel-body">
                    <h5 class="m-t-0">About
                        <small>· <a href="#">Edit</a></small>
                    </h5>
                    <ul class="list-unstyled list-spaced">
                        <li><span class="text-muted icon icon-calendar m-r"></span>Went to <a href="#">Oh, Canada</a>
                        <li><span class="text-muted icon icon-users m-r"></span>Became friends with <a
                                href="#">Obama</a>
                        <li><span class="text-muted icon icon-github m-r"></span>Worked at <a href="#">Github</a>
                        <li><span class="text-muted icon icon-home m-r"></span>Lives in <a href="#">San Francisco,
                            CA</a>
                        <li><span class="text-muted icon icon-location-pin m-r"></span>From <a href="#">Seattle, WA</a>
                    </ul>
                </div>
            </div>

            <div class="panel panel-default visible-md-block visible-lg-block">
                <div class="panel-body">
                    <h5 class="m-t-0">Photos
                        <small>· <a href="#">Edit</a></small>
                    </h5>
                    <div data-grid="images" data-target-height="150">
                        <div>
                            <img data-width="640" data-height="640" data-action="zoom"
                                 src="/statics/img/instagram_5.jpg">
                        </div>

                        <div>
                            <img data-width="640" data-height="640" data-action="zoom"
                                 src="/statics/img/instagram_6.jpg">
                        </div>

                        <div>
                            <img data-width="640" data-height="640" data-action="zoom"
                                 src="/statics/img/instagram_7.jpg">
                        </div>

                        <div>
                            <img data-width="640" data-height="640" data-action="zoom"
                                 src="/statics/img/instagram_8.jpg">
                        </div>

                        <div>
                            <img data-width="640" data-height="640" data-action="zoom"
                                 src="/statics/img/instagram_9.jpg">
                        </div>

                        <div>
                            <img data-width="640" data-height="640" data-action="zoom"
                                 src="/statics/img/instagram_10.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>