<div class="col-md-3">
    <!--<div class="alert alert-warning alert-dismissible hidden-xs" role="alert">-->
        <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span-->
                <!--aria-hidden="true">&times;</span></button>-->
        <!--<a class="alert-link" href="profile/index.html">Visit your profile!</a> Check your self, you aren't-->
        <!--looking too good.-->
    <!--</div>-->


    <div class="panel panel-default m-b-md hidden-xs">
        <div class="panel-body">
            <h5 class="m-t-0">Be Inspired!</h5>

            <div >
                <div >
                    <iframe width="100%" src="https://www.youtube.com/embed/Aca7CaMGAII?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <p>Social Good Summit 2016: 13 year-old coder Isabel Sieh on technology and the future</p>
            <!--<button class="btn btn-primary-outline btn-sm">Buy a ticket</button>-->
        </div>
    </div>

    <div class="panel panel-default m-b-md hidden-xs">
        <div class="panel-body">
            <h5 class="m-t-0">600+ Girls Coder @ Kidocode</h5>

            <div data-grid="images" data-target-height="150">
                <div style="display: none">
                    <img class="media-object" data-width="640"
                         data-height="640" data-action="zoom"
                         src="http://lorempixel.com/640/640/sports/">
                </div>
            </div>
            <p>Did you know we have more than 600 registered girls student at kidocode, learning coding! Why not you?
                <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=29&cad=rja&uact=8&ved=0ahUKEwi8g56QhcjVAhUBs48KHbPuCmwQmhMIxAEwHA&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FAda_Lovelace&usg=AFQjCNHfyG7RooBCbz31vVI2rWHRyxM_vA">Read more</a></p>
            <!--<button class="btn btn-primary-outline btn-sm">Buy a ticket</button>-->
        </div>
    </div>

    <div class="panel panel-default m-b-md hidden-xs">
        <div class="panel-body">
            <h5 class="m-t-0">Aida Loveless</h5>

            <div data-grid="images" data-target-height="150">
                <div style="display: none">
                    <img class="media-object" data-width="640"
                         data-height="640" data-action="zoom"
                         src="https://www.biography.com/.image/c_fill%2Ccs_srgb%2Cg_face%2Ch_300%2Cq_80%2Cw_300/MTE4MDAzNDEwODQwOTQ2MTkw/ada-lovelace-20825279-1-402.jpg">
                </div>
            </div>
            <p>Augusta Ada King-Noel, Countess of Lovelace was an English mathematician and writer, chiefly known for her work on Charles Babbage's proposed mechanical general-purpose computer, the Analytical Engine.
                <a href="https://en.wikipedia.org/wiki/Susan_Wojcicki">Read more</a></p>
            <!--<button class="btn btn-primary-outline btn-sm">Buy a ticket</button>-->
        </div>
    </div>

    <div class="panel panel-default m-b-md hidden-xs">
        <div class="panel-body">
            <h5 class="m-t-0">Susan Diane Wojcicki @ Youtube</h5>

            <div data-grid="images" data-target-height="150">
                <div style="display: none">
                    <img class="media-object" data-width="640"
                         data-height="640" data-action="zoom"
                         src="https://pbs.twimg.com/profile_images/538756409278472192/CyY45O5O.jpeg">
                </div>
            </div>
            <p>Susan Diane Wojcicki is an American technology executive. She is the current CEO of YouTube.
                <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=29&cad=rja&uact=8&ved=0ahUKEwi8g56QhcjVAhUBs48KHbPuCmwQmhMIxAEwHA&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FAda_Lovelace&usg=AFQjCNHfyG7RooBCbz31vVI2rWHRyxM_vA">Read more</a></p>
            <!--<button class="btn btn-primary-outline btn-sm">Buy a ticket</button>-->
        </div>
    </div>

    <div class="panel panel-default m-b-md hidden-xs">
        <div class="panel-body">
            <h5 class="m-t-0">Girls Who Code!</h5>

            <div data-grid="images" data-target-height="150">
                <div style="display: none">
                    <img class="media-object" data-width="640"
                         data-height="640" data-action="zoom"
                         src="https://thestateofwomen.com/wp-content/uploads/2016/05/f271110a775d485dd1a9ab108660b9a8-810x405.png">
                </div>
            </div>
            <p>Girls Who Code has gone from 20 girls in New York to 40,000 girls in 50 states. That’s the same number of girls who graduate each year with a degree in computer science.
                <a href="https://girlswhocode.com">Read more</a></p>
            <!--<button class="btn btn-primary-outline btn-sm">Buy a ticket</button>-->
        </div>
    </div>

    <div class="panel panel-default m-b-md hidden-xs">
        <div class="panel-body">
            <!--<h5 class="m-t-0">Likes-->
                <!--<small>· <a href="#">View All</a></small>-->
            <!--</h5>-->
            <ul class="media-list media-list-stream">
                <li class="media m-b">
                    <a class="media-left" href="#">
                        <img
                                class="media-object img-circle"
                                src="https://scontent.fkul10-1.fna.fbcdn.net/v/t1.0-1/c50.0.200.200/p200x200/13091986_1742690519278878_1823614841233120843_n.jpg?oh=e4b3bc050922bf29321245ac9792aa03&oe=5A392070">
                    </a>

                    <div class="media-body">
                        <strong>Kidocode</strong>
                        <div class="media-body-actions">
                            <a href="https://www.facebook.com/KidoCode/"  target="_blank" class="btn btn-primary-outline btn-sm">
                                <span class="icon icon-add-user"></span> Follow
                            </a>
                        </div>
                    </div>
                </li>
                <li class="media">
                    <a class="media-left" href="#">
                        <img
                                class="media-object img-circle"
                                src="https://scontent.fkul10-1.fna.fbcdn.net/v/t1.0-1/p200x200/11161346_856912031023332_833022907016678663_n.png?oh=ec734e8b3b07c48f982f01b440b8cdad&oe=5A259960">
                    </a>

                    <div class="media-body">
                        <strong>Unclecode</strong>
                        <div class="media-body-actions">
                            <a href = "https://www.facebook.com/unclecode/" target="_blank" class="btn btn-primary-outline btn-sm">
                                <span class="icon icon-add-user"></span> Follow
                            </a>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="panel-footer">
            Follow us at our facebook page.
        </div>
    </div>

    <div class="panel panel-default panel-link-list">
        <div class="panel-body">
            © 2017 Kidocode
            <a href="http://kidocode.com/profile">About</a>
            <a href="http://kidocode.com/freesessions">Join Kidocode</a>
        </div>
    </div>
</div>